{% extends "inbase.html" %}
{% block bodycontent %}
<h2>Add a course</h2>
<p>
Multipule sessions (include attribute 'day of week') will be created.
</p> 
<p>
Please enter Course information below:
</p>
{% if msg %}
 <p>
 {{ msg }}
 </p>
{% endif %}
<form method="post" action="/add_course">
    <table>
        <tr>
            <td>{{form.cname.label}}</td> <td>{{form.cname}}</td>
            {% if form.cname.errors %}
                {% for error in form.cname.errors %}
                    <td class="form_errors"> {{error}} </td>
                {% endfor %}
            {% endif %}
        </tr>
        <tr>
            <td>{{form.snumber.label}}</td> <td>{{form.snumber}}</td>
            {% if form.snumber.errors %}
                {% for error in form.snumber.errors %}
                    <td class="form_errors"> {{error}} </td>
                {% endfor %}
            {% endif %}
        </tr>
        <tr> 
            <td>Duration</td> <td>N/A</td>
        </tr> 
    </table>

    <table>
        <tr>
            <td>{{form.csessions.label}}</td> 
            <td>{{form.csessions}}</td>
            {% if form.csessions.errors %}
                {% for error in form.csessions.errors %}
                    <td class="form_errors"> {{error}} </td>
                {% endfor %}
            {% endif %}
        </tr>
    </table> 
    
   
      
    <input type="hidden" name="loc_key" value="{{loc_key}}" />
    <input type="hidden" name="time_index" value="{{time_index}}" />
    <input type="submit" value="Create"/> 
    <input type="reset" value="Clear"/>
</form>
{% endblock %}
