{% extends "inbase.html" %}
{% block bodycontent %}
      <h1>Add a new course</h1>
      <p>
      Please enter Course information below:
      </p>
      <h1> Some prompt 1. location name  2. time_index </h1>
      
      <form method="post" action="/add_course">
          <table>
              <tr>
                  <td>Course Name:</td> <td><input type="text" name="cname"/></td>
              </tr>
              <tr>
                  <td>Course Number:</td> <td><input type="text" name="cnumber"/></td>
              </tr>
              <tr> 
                  <td>*Session(s):</td> <td><input type="text" name="csessions"/></td>
              </tr> 
              <tr> 
                  <td>Time Duraion:</td> <td><input type="text" name="time"/></td>
              </tr> 
          </table>
          <p><b style="color: blue;">*Session(s) field should be number(s) 1 to 7
              correspond to Monday to Sunday.</br></b>
              e.g. session: 135, this means this course have Monday, Wednesday and 
              Friday three sessions.
          </p>
          
          <input type="hidden" name="loc_key" value="{{loc_key}}" />
          <input type="hidden" name="time_index" value="{{time_index}}" />
          <input type="submit" value="Create"/> 
          <input type="reset" value="Clear"/>
      </form>
      {% if error %}
       <p>
       {{ error }}
       </p>
      {% endif %}
{% endblock %}
