{% extends "inbase.html" %}
{% block bodycontent %}
      <h1>Adding a location</h1>
      <p>
      Please enter Classroom information. 
      </p>
      {% if msg %}
        {{msg}}
      {% endif %}      
      <form method="post" action="">
          <table>
              <tr>
                  <td>Room Name:</td> <td>{{form.rname}}</td> 
                  {% if form.rname.errors %} 
                      <div class="form_errors">
                      {% for error in form.rname.errors %}
                          <td> {{error}} </td>
                      {% endfor %} 
                      </div>
                  {% endif %}
              </tr> 
              <tr>
                  <td>Camera(s):</td> <td>{{form.camera}}</td> 
                  {% if form.camera.errors %} 
                      <div class="form_errors">
                      {% for error in form.camera.errors %}
                          <td> {{error}} </td>
                      {% endfor %} 
                      </div>
                  {% endif %}
              </tr> 
              <tr>
                  <td>Room Size:</td> <td>{{form.size}}</td> 
                  {% if form.size.errors %} 
                      <div class="form_errors">
                      {% for error in form.size.errors %}
                          <td> {{error}} </td>
                      {% endfor %} 
                      </div>
                  {% endif %}
              </tr> 
          </table>
          <input type="submit" value="Add"/>
          <input type="submit" value="Cancel" /
              onclick="window.location='/add_location'; return false;"/>
      </form>
{% endblock %}
