<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
 <html xmlns = "http://www.w3.org/1999/xtml">
    <head>
        <title> IITV Scheduler </title>
        <link href = "/static/style.css" rel = "stylesheet" type = "text/css" />
        <!--script type="text/javascript" src="/static/jquery-1.5.1.js"></script-->
    </head>
    <body>
        <div id = "header">
            <h1><a href = "index.html">CS425 Final Project</a></h1>
            <ul>
                <li><a href = "/login"
                    {% ifequal path '/login' %}
                        class = "selected"
                    {% endifequal %} 
                    >Login</a></li>
                <li><a href = "/register"
                    {% ifequal path '/register' %}
                        class = "selected"
                    {% endifequal %} 
                    >Register</a></li>
            </ul>
        </div>
        <div id = "bodycontent">
        {% block bodycontent %}
              Replace This, If you see it, something's wrong
        {% endblock %} 
        </div>
    </body>
</html>
