<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns = "http://www.w3.org/1999/xtml">
    <head>
        <title> IITV Scheduler </title>
        <link href = "/static/style.css" rel = "stylesheet" type = "text/css" />
        <script type="text/javascript" src="/static/tabber.js"></script>
    </head>
    <body>
        <div id = "header">
            <h1><a href = "/main">Main Function Page</a></h1>
            <ul>
                <li><a href = "/main"
                    {% ifequal path "/main" %}
                        class = "selected"
                    {% endifequal %} 
                    >Main</a></li>
                
                <li><a href = "/user_info"
                    {% ifequal path "/user_info" %}
                        class = "selected"
                    {% endifequal %} 
                    >User Info: {{username}}</a></li>

                <li><a href = "/td_setting"
                    {% ifequal path "/td_setting" %}
                        class = "selected"
                    {% endifequal %} 
                    >TD Settings</a></li>

                <li><a href = "/td_session"
                    {% ifequal path "/td_session" %}
                        class = "selected"
                    {% endifequal %} 
                    >TD select session</a></li>
                
                {% if admin %}
                <li><a href = "show_user.html"
                    {% ifequal path "/show_user.html" %}
                        class = "selected"
                    {% endifequal %} 
                    >Show User</a></li>

                <li><a href = "/setup"
                    {% ifequal path "/setup" %}
                        class = "selected"
                    {% endifequal %} 
                    >Set Up</a></li>

                <li><a href = "/pre_assign_td"
                    {% ifequal path "/pre_assign_td" %}
                        class = "selected"
                    {% endifequal %} 
                    >Assign TD</a></li>
                {% endif %}

                <li><a href = "/logout">Logout ({{username}})</a></li>     
            </ul>
        </div>
        <div id = "bodycontent">
        {% block bodycontent %}
              Replace This, If you see it, something's wrong
        {% endblock %} 
        </div>
    </body>
</html>
