<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns = "http://www.w3.org/1999/xtml">
    <head>
        <title> IITV Scheduler </title>
        <link href = "/static/style.css" rel = "stylesheet" type = "text/css" />
        <script type="text/javascript" src="/static/jquery-1.5.1.js"></script>
    </head>
    <body>
        <div id = "header">
            <h1><a href = "main.html">Main Function Page</a></h1>
            <ul>
                <li><a href = "show_user.html"
                    {% ifequal path "/show_user.html" %}
                        class = "selected"
                    {% endifequal %} 
                    >Show User</a></li>

                <li><a href = "/show_setting"
                    {% ifequal path "/show_setting" %}
                        class = "selected"
                    {% endifequal %} 
                    >Settings</a></li>
                <li><a href = "function2.html"
                    {% ifequal path "/function2.html" %}
                        class = "selected"
                    {% endifequal %} 
                    >Function 2</a></li>

                <li><a href = "/logout">Logout ({{username}})</a></li>     
            </ul>
        </div>
        <div id = "bodycontent">
        {% block bodycontent %}
              Replace This, If you see it, something's wrong
        {% endblock %} 
        </div>
    </body>
</html>
