{% extends "base.html" %}
{% block bodycontent %}

<h1>Login IITV-S</h1>
    <p>
        User please login
    </p>
</h1>

<form  method="post" action="/login">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username"></div></td>
        </tr>     
        <tr>
            <td>Password </td>
            <td><input type="password" name="password"></div></td>
        </tr>
    </table>
    <input type="submit" value="Login">
    <input type="submit" value="Cancel"
        onclick="window.location='/'; return false;"/>
    <input type="submit" value="New Account"
        onclick="window.location='/register'; return false;"/>
</form>

{% if error %}
<p> {{error}} </p>
{% endif %}

{% endblock %}
