{% extends "inbase.html" %}
{% block bodycontent %}

<script type="text/javascript" src="tabber.js">
</script>

<h2 style="color: red;"> {% if msg %} {{msg}} {% endif %} </h2>
<h3> Hello "{{username}}", below is the shift table</h3> 

<div class="event_indicator">
<table>
    <td>Total Event:</td><td>{{event_count}}</td>
    <td>  </td>
    <td>Active Event:</td><td>{{active_count}}</td>
</div>
</table>
<div class="tabber">
    {% for tab_view in day_list %}
    <div class="tabbertab" title="{{tab_view.info2}}">
        <h2></h2>
        <table>
            <thead>
                <tr>
                    <th> </th>
                    <th> 8:30am-9:45am</th>
                    <th> 10:00am-11:15am</th>
                    <th> 11:30am-12:40pm</th>
                    <th> 1:50pm-3:00pm</th>
                    <th> 3:15pm-4:30pm</th>
                    <th> 5:00pm-6:10pm</th>
                    <th> 6:30pm-9:10pm</th>
                </tr> 
            </thead>  
            <tbody>
                {% for row_list in tab_view.info1 %} 
                <tr>
                    {% for cell in row_list %}
                        {% if cell.rname %}
                            <td>{{ cell.rname }}</td>
                        {% else %} {% if cell.info1 %}
                            <td>
                                <form method="post" action="/event">
                                    <input type="hidden" name="session_key" 
                                    value="{{cell.info1.key}}" />
                                    {# if cell is a Session. A button should be here Aug#}
                                    {% if cell.info2.name %} {# TD name #}
                                        <input type="submit" class="event"
                                            value="{{ cell.info1.cname }}:{{ cell.info2.name }}"/> 
                                    {% else %}
                                        <input type="submit" value="{{ cell.info1.cname }}:No TD" /> 
                                    {% endif %}
                                </form> 
                            </td>
                        {% else %}
                            <td> 
                                {# if cell is empty(!location !session) #}    
                            </td>
                        {% endif %} {% endif %} 
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block tab %}
{% include "tab.html" %}
{% endblock %}
