{% extends "inbase.html" %}
{% block bodycontent %}

<script type="text/javascript">
    function gen_id(){
        if (typeof gen_id.counter = 'undefined' ){
            gen_id.counter = 0;
        }
        new_id = gen_id.counter++;
        this.id=new_id
    } 
</script>
    
    <h2>Show User</h2>
    <p>
    You are in the system now, Show user
    </p> 
    <form method="post" action="/show_user">
        Show:
        <input type="radio" name = show_admin value="True" /> Admin 
        <input type="radio" name = show_admin value="False" /> User
        <input type="submit" value = "Submit" /> 
    </form> 
        {% if user_list %}
        <table>
            <tr>
                <td>Full Name </td>
                <td>Username </td>
                <td> </td>
            </tr>   
            <form method="post" action="/delete_user">
            {% for user in user_list %} 
            <tr>
                <td> {{ user.name }} </td> 
                <td> {{ user.username }} </td> 
                <td> <input type="checkbox" name="key_to_delete" \
                    value={{ user.username }} /> </td>
            </tr>
            {% endfor %}
        </table>
        </br>
        <input type="submit" value = "Delete" />
        {% endif %}
    </form>
   {% if msg %}
        <p> {{msg}} </p>
   {% endif %}  

{% endblock %}
