{% extends "inbase.html" %}
{% block bodycontent %}
<h2>Show User</h2>
<p>
You are in the system now, Show user
</p> 
<form method="post" action="/show_user">
    Show:
    <input type="radio" name = show_admin value="True" /> Admin 
    <input type="radio" name = show_admin value="False" /> User
    <input type="submit" value = "Submit" /> 
</form> 

    </br>
    {% if user_list %}
    <form method="post" action="/delete_user">
    <table>
        <tr>
            <td>Full Name </td>
            <td>Username </td>
            <td></td>
        </tr>   
        {% for user in user_list %} 
        <tr>
            <td> {{ user.name }} </td> 
            <td> {{ user.username }} </td> 
            <td> <input type="checkbox" name="key_to_delete" \
                value={{ user.username }} /> </td>
            <td> 
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value = "Delete" />
    </form>
    {% endif %}
{% if msg %}
     <p> {{msg}} </p>
{% endif %}  

{% endblock %}
