{% extends "inbase.html" %}
{% block bodycontent %}

<h2>View/Edit Event
{% if msg %}
    ({{msg}}) 
{% endif %}
</h2>

<table>
    <thead>
        <tr>
            <th>Selected Session</th>
            <th>Corresponding TD</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td>{{session.cname}}</td>
            <td> 
                {% if td.name %}
                    {{td.name}}
                {% else %}
                    No TD yet<br>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table> 

<form method="post" action="/manage_event">
    <input type="radio" name="active_status" value=True {% if event.active %} checked {% endif %} 
        />Active<br> 
        <input type="radio" name="active_status" value=False {% if not event.active %} checked {% endif %}
        />Not Active / Resolved<br> 
        <br>
            <textarea name="note" cols="40" rows="4" >Enter your message here</textarea>
            <input type="hidden" name="session_key" value="{{session_key}}" />
            <input type="hidden" name="update_event" value="True" />
            <input type="submit" value="submit" />
            <h3>Messages: (Latest at top)</h3>
            {% for message in message_list %}
                <div id=messages_break></div>
                <div id=messages>{{message}}</div>
            {% endfor %}
</form>

{% endblock %}
