{% extends "inbase.html" %}
{% block bodycontent %}
    <h2>Show User</h2>
    <p>
    You are in the system now, Show user
    </p> 
    <form method="post" action="/showuser">
        <p>Show</p>
        <input type="radio" name = admin value="T" /> Admin 
        <input type="radio" name = admin value="F" /> User
        <input type="submit" value = "Submit" /> 
    </form> 
    {% if user_list %}
    <table>
        <tr>
            <th>Full Name hahaha</th>
            <th>Username </th>
        </tr>   
        {% for user in user_list %} 
        <tr>
            <td> {{ user.name }} </td>
            <td> {{ user.username }} </td>
        </tr>
        {% end for %}
    </table>
    {% endif %}
{% endblock %}
