{% extends "inbase.html" %}
{% block bodycontent %}
    <form method="post" action="/">
        <table>
            <tr>
                <td>CWID:</td>
                <td><input type="text" name="cwid"/></td>
            </tr>
            <tr>
                <td>Major:</td>
                <td><input type="text" name="major"/></td>
            </tr>
            <tr> 
                <td>email:</td>
                <td><input type="text" name="email"/></td>
            </tr> 
            <tr> 
                <td>phone:</td>
                <td><input type="text" name="phone"/></td>
            </tr> 
            <tr> 
                <td>desired hours</td>
                <td><input type="text" name="d_hours"/></td>
            </tr> 
        </table>
        <input type="submit" value="Create"/> 
        <input type="submit" value="Cancel" 
            onclick="window.location='/'; return false;"/>
     </form>

{% endblock %}
