{% extends "inbase.html" %}
{% block bodycontent %}

<h2>
{% if not u.cwid %}
{{u.username}}{{info}} 
{% endif %}
{% if msg %}
<p> {{u.username}}{{msg}} </p>
{% else %}
</h2>

<form method="post" action="/td_setting">
    <table>
        <tr>
            <td></td>
            <td>Current</td>
            <td>Update</td>
        </tr>
        <tr>
            <td>{{form.cwid.label}}</td>
            <td> {{u.cwid}} </td>
            <td> {{form.cwid}} </td>
            {% if form.cwid.errors %} 
                 <div class="form_errors">
                 {% for error in form.cwid.errors %}
                     <td> {{error}} </td>
                 {% endfor %} 
                 </div>
            {% endif %}

        </tr>
        <tr>
            <td>{{form.major.label}}</td>
            <td>{{u.major}}</td>
            <td>{{form.major}}</td>
            {% if form.major.errors %} 
                 <div class="form_errors">
                 {% for error in form.major.errors %}
                     <td> {{error}} </td>
                 {% endfor %} 
                 </div>
            {% endif %}
        </tr>
        <tr> 
            <td>{{form.email.label}}</td>
            <td> {{u.email}} </td>
            <td> {{form.email}} </td>
            {% if form.email.errors %} 
                 <div class="form_errors">
                 {% for error in form.email.errors %}
                     <td> {{error}} </td>
                 {% endfor %} 
                 </div>
            {% endif %}
        </tr> 
        <tr> 
            <td>{{form.phone.label}}</td>
            <td> {{u.phone}} </td>
            <td> {{form.phone}} </td>
            {% if form.phone.errors %} 
                 <div class="form_errors">
                 {% for error in form.phone.errors %}
                     <td> {{error}} </td>
                 {% endfor %} 
                 </div>
            {% endif %}
        </tr> 
        <tr> 
            <td>{{form.d_hours.label}}</td>
            <td> {{u.d_hours}} </td>
            <td> {{form.d_hours}} </td>
            {% if form.d_hours.errors %} 
                 <div class="form_errors">
                 {% for error in form.d_hours.errors %}
                     <td> {{error}} </td>
                 {% endfor %} 
                 </div>
            {% endif %}
        </tr> 
        <tr>
            <td> Assigned hours </td>
            <td> {{u.a_hours}} </td>
            <td> N/A </td>
        </tr>
        <tfoot>
            <td style="border-bottom:0px"></td>
            <td style="border-bottom:0px"></td>
            <td style="border-bottom:0px">
                <input type="submit" value="Submit"/> 
                <input type="reset" value="Clear" />
            </td>
        </tfoot>
    </table>
</form>
{% endif %}
{% endblock %}
