{% extends "inbase.html" %}
{% block bodycontent %}

    <h2>{{username}}, {% if msg %} {{msg}} {% endif %} choose sessions
        or courses you wants to work.
    </h2>
    <p>
    </p>  
    {% for course_list in day_list %}
    <table>
        <tr>
            <th> </th>
            <th> 8:30am-9:45am</th>
            <th> 10:00am-11:15am</th>
            <th> 11:30am-12:40pm</th>
            <th> 1:50pm-3:00pm</th>
            <th> 3:15pm-4:30pm</th>
            <th> 5:00pm-6:10pm</th>
            <th> 6:30pm-9:10pm</th>
        </tr> 
          
      {% for row_list in course_list %} 
        <tr>
            {% for cell in row_list %}
                {% if cell.rname %}
                    <td>{{ cell.rname }}</td>
                {% else %} {% if cell.cname %}
                    <td>
                        <form method="post" action="/assign_td"> {# !started #}
                        <input type="hidden" name="row" value="{{cell.x}}" /> 
                        <input type="hidden" name="column" value="{{cell.y}}" /> 
                        <input type="submit" value="{{cell.cname}}" />
                        </form> 
                    </td>
                {% else %}
                    <td> 
                        {# Empty Here #}                        
                    </td>
                {% endif %} {% endif %} 
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </br>
    {% endfor %}


{% endblock %}



